.header__lang-link {
  display: inline;
  font-style: normal;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
