.header {
  max-width: 1184px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0 auto;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    margin: 28px auto 0 auto;
    max-width: 750px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin: 16px auto 0 auto;
    max-width: 288px;
  }
}
