.header__lang-link_active {
  display: inline;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: right;
  color: #ffffff;
}
